[submodule "dependencies/hana-adapter"]
	path = dependencies/hana-adapter
	url = https://github.com/apmccartney/hana-adapter.git
[submodule "dependencies/catch-adapter"]
	path = dependencies/catch-adapter
	url = https://github.com/apmccartney/catch-adapter.git
